<%- include("partials/header") -%>


<form action="/login">
    <h2>Log In</h2>
    <label for="email">Email</label>
    <input type="email" name="email" required/>
    <label for="password">Password</label>
    <input type="password" name="password" required/>
    <button>Log In</button>
</form>

<%- include("partials/footer") -%>